/* Please use this application to name coulor variables */
/* https://www.color-blindness.com/color-name-hue/ */

// from provided images
$white: #ffffff;
$varden: #fef5de;
$wewak: #f5928c;
$moody-blue: #7082c4;

// from provided PDF for totem
$oasis: #fbe6bf;
$flamingo: #df6b4e;
$east-bay: #464c70;
