@font-face {
  font-family: "arciform";
  src: url("assets/fonts/arciform.otf") format("opentype");
}

@font-face {
  font-family: "eembuhlah";
  src: url("assets/fonts/eembuhlah.ttf") format("truetype");
}

@font-face {
  font-family: "larantuka-regular-400";
  src: url("assets/fonts/larantuka-regular-400.ttf") format("truetype");
  src: url("assets/fonts/larantuka-regular-400.otf") format("opentype");
}
