:root {
  // used in other files for provided images
  // --dml-body-background: $varden;
  // --dml-header-color: $wewak;
  // --dml-heading-color: $moody-blue;

  // used in other files for provided PDF
  --dml-body-bg: #{$oasis};
  --dml-header-color: #{$flamingo};
  --dml-heading-color: #{$east-bay};
}
