@import "./colors";
@import "Header";
@import "Member";
@import "Separator";

body {
  background-color: $body-background;
  padding-top: 56px;
}

header,
section,
.section-hr {
  margin-bottom: 10vh;
}
