body {
  background-color: var(--dml-body-bg) !important;
  padding-top: 56px;
}

header,
section,
.section-hr {
  margin-bottom: 10vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "eembuhlah";
}
