.header {
  background-image: url("images/librairie.jpg");
  padding: 0.5rem;
  background-size: cover;
  filter: grayscale(50%);
  min-height: 20vh;

  &__title-container {
    background-image: url("images/bubble_background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: fit-content;

    margin: 0 auto;
    box-sizing: content-box;

    padding: min(5vw, 2rem);
    padding-bottom: min(7vw, 3rem);
  }

  &__title {
    font-family: "larantuka-regular-400";
    text-transform: capitalize;
    color: $header-color;
    line-height: 2;
    margin-bottom: max(-3vw, -2rem);
    font-size: min(10vw, 4rem);
  }

  &__subtitle {
    font-size: min(4.5vw, 1.8rem); // size chosen to match title width
  }
}
