// Modules
@import "./stylesheets/modules/colors";
@import "./stylesheets/modules/fonts";

// Libraries
@import "~bootstrap/scss/bootstrap";

// Bootstrap overrides
@import "./stylesheets/bootstrap/root";

// Custom components
@import "FlipCard";
@import "FacebookWidget";
@import "Header";
@import "Separator";

body {
  padding-top: 56px;
}

header,
section,
.section-hr {
  margin-bottom: 10vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "eembuhlah";
  color: $title-color;
}
